<div class="container" id="faq">
    <div class="row">
        <div class="col-md-12">
            <section>

            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                {{ if gt (len .Site.Data.faq) 0 }}
                {{ range sort .Site.Data.faq "weight" }}
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{.weight}}">{{ .name }}</a>
                    </h4>
                </div>
                <div id="collapse{{.weight}}" class="panel-collapse collapse">
                    <div class="panel-body">{{ .description }}</div>
                </div>
                 {{ end }}
                {{ end }}
            </div>
            </div>
            </section>
        </div>
    </div>

    <div class="col-md-12">
        <section>
            {{ .Content }}
        </section>
    </div>
</div>
