<div class="container" id="fees">
    <div class="row">
        <div class="col-md-12">
            <h3>For a one-time cost of $550.00, you will receive:</h3>
            <!--<section>
                   {{ .Content }}
            </section>-->
        </div>
        <div class="col-md-12">
                {{ if gt (len .Site.Data.fees) 0 }}
                {{ range sort .Site.Data.fees "weight" }}
                <section class="fee" style="margin-bottom:0px">
                    <div class="row">
                        <div class="col-md-2 col-xs-3" >
                            <div class="thumbnail" style="border:none">
                                <img alt="" src="{{ .Site.BaseURL }}/img/leaves_small.jpg" style="height:100px;width:100px">
                            </div>
                        </div>
                        <div class="col-md-10 col-xs-9" style="font-style: italic;">
                            - {{ .line1 }}
                            <br>
                            - {{ .line2 }}
                            <br>
                            - {{ .line3 }}
                        </div>
                    </div>
                </section>
                {{ end }}
                {{ end }}
            </section>
        </div>
    </div>
</div>
