<div class="container" id="fees">
    <div class="row">
        <div class="col-md-12">
            <section>
                   {{ .Content }}
            </section>
        </div>

        <div class="col-md-12">
            <section class="fee">
                {{ if gt (len .Site.Data.fees) 0 }}
                {{ range sort .Site.Data.fees "weight" }}

                    <div class="row vertical-centre">
                        <div class="col-lg-1 col-md-2 col-xs-3 col-xs-offset-1" >
                            <div class="icon">
                                <i class="{{ .icon }} fa-2x" style="color: darkgoldenrod"></i>
                            </div>
                        </div>
                        <div class="col-lg-11 col-md-10 col-xs-8">
                                {{ .name }}
                        </div>
                    </div>
                {{ end }}
                {{ end }}
                <br>
                <a href="/contact" class="btn btn-small btn-template-main">Contact Us</a>
                <a href="/stories" class="btn btn-small btn-template-main">Success Stories</a>
            </section>
        </div>
    </div>
</div>
