{{ if isset .Site.Params "header" }}
{{ if .Site.Params.header.enable }}
<section class="bar background-image-fixed-header no-mb color-white text-center vertical-centre">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-uppercase">{{ .Site.Params.header.title }}</h3>
                <p class="text-center">
                    <a href="{{ .Site.Params.header.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.header.link_text }}</a>
					&nbsp;
					<a href="{{ .Site.Params.header.link2_url }}" class="btn btn-template-transparent-black btn-lg" target="_blank">{{ .Site.Params.header.link2_text }}</a>                
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
