<div class="container" id="wellington">
    <div class="row">
        <div class="col-md-12">
            <img src="/img/wellington.jpg" class="img-responsive" style="margin: 0 auto; width: 100% ">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-sm-9">
            <section>
                {{ .Content }}
            </section>
        </div>
        <div class="col-md-2 col-sm-3">
            <img src="/img/sasha.jpg" class="img-responsive">
            <div style="font-style: italic">Sasha Madaraz</div>
        </div>
    </div>
    <br>
</div>