<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KV9R6NB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "notification.html" . }}

        {{ partial "header.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
  
  <script type="text/javascript">
  jQuery(document).ready(function($){
	var deviceAgent = navigator.userAgent.toLowerCase();

	if (deviceAgent.match(/(iphone|ipod|ipad)/)) {
	$('.background-image-fixed-header').css({backgroundAttachment: 'scroll', backgroundPosition: 'center'});
	}
	});
  </script>
</html>
